body {
  overflow-x: hidden;
}

.fade-in-to-left {
  animation: fadein 0.5s ease;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
